/* VAR*/

/*black*/

/*red*/

/*yellow*/

/*MIXINS*/

/* FONTS */

@font-face {
  font-family: 'PhantonIconsA';
  src: url("../fonts/Panton/PantonIconsAFill-Regular.otf");
}

@font-face {
  font-family: 'PhantonIconsB';
  src: url("../fonts/Panton/PantonIconsBFill-Regular.otf");
}

@font-face {
  font-family: 'PhantonIconsC';
  src: url("../fonts/Panton/PantonIconsCFill-Regular.otf");
}

@font-face {
  font-family: 'PhantonIconsD';
  src: url("../fonts/Panton/PantonIconsDFill-Regular.otf");
}

@font-face {
  font-family: 'Phanton';
  src: url("../fonts/Panton/Panton-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phanton';
  src: url("../fonts/Panton/Panton-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Phanton';
  src: url("../fonts/Panton/Panton-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Phanton';
  src: url("../fonts/Panton/Panton-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Phanton';
  src: url("../fonts/Panton/Panton-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

/* COMMON */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #12171a;
  font-family: 'Phanton', sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #244e64;
  margin: 0;
}

@media (max-width: 1284px) {
  h2 {
    font-size: 27px;
  }
}

.container {
  width: 1270px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1284px) {
  .container {
    width: 992px;
    padding: 0 15px;
  }
}

@media (max-width: 1006px) {
  .container {
    width: 750px;
    /*0.755*/
    padding: 0 10px;
  }
}

.container:after,
.content-wrapper:after,
.clearfix:after,
.container:before,
.content-wrapper:before,
.clearfix:before {
  content: "";
  display: table;
  table-layout: fixed;
}

.container:after,
.content-wrapper:after,
.clearfix:after {
  clear: both;
}

.ph-icon {
  color: #ce0c14;
  font-weight: 400;
  font-style: normal;
}

.ph-icon-a {
  font-family: 'PhantonIconsA';
}

.ph-icon-b {
  font-family: 'PhantonIconsB';
}

.ph-icon-d {
  font-family: 'PhantonIconsD';
}

.icon-rotate {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.fl-right {
  float: right;
}

.ttu {
  text-transform: uppercase;
}

.no-wrap {
  white-space: nowrap;
}

button.btn {
  background-color: #ce0c14;
  text-align: center;
  border: none;
  border-radius: 5px;
  border-top: 2px solid #740b0f;
  border-bottom: 2px solid #740b0f;
  color: #fff;
  padding-top: 3px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 1284px) {
  button.btn {
    font-size: 16px;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}

button.btn:hover {
  background-color: #740b0f;
}

/* HEADER */

#header {
  padding: 18px 0;
  width: 100%;
}

#header a.logo {
  float: left;
}

@media (max-width: 1284px) {
  #header a.logo img {
    width: 283px;
    height: auto;
  }
}

#header .header_contact {
  float: left;
  padding-top: 27px;
  padding-bottom: 22px;
  margin-left: 120px;
}

@media (max-width: 1284px) {
  #header .header_contact {
    margin-left: 90px;
    padding-top: 21px;
    padding-bottom: 17px;
  }
}

#header .header_contact-item {
  float: left;
}

#header .header_contact-item:nth-child(2) {
  margin: 0 92px 0 67px;
}

@media (max-width: 1284px) {
  #header .header_contact-item:nth-child(2) {
    margin: 0 71px 0 52px;
  }
}

#header .contact-info {
  float: left;
}

#header .ph-icon {
  float: left;
  font-size: 30px;
  margin-right: 24px;
}

@media (max-width: 1284px) {
  #header .ph-icon {
    margin-right: 18px;
    font-size: 23px;
  }
}

#header .info-main {
  display: block;
  margin: 0;
  color: #0a5072;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

@media (max-width: 1284px) {
  #header .info-main {
    line-height: 17px;
    font-size: 16px;
  }
}

#header .info-secondary {
  display: block;
  margin: 0;
  color: #112526;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

@media (max-width: 1284px) {
  #header .info-secondary {
    font-size: 14px;
    line-height: 14px;
  }
}

#header .contact-info sup {
  text-decoration: underline;
}

#banner {
  background-color: #f6d258;
  width: 100%;
}

#banner .container {
  background: url("../img/banner-men.png") no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1284px) {
  #banner .container {
    background-size: 324px auto;
    background-position: left bottom;
  }
}

#banner .main-menu {
  width: 100%;
  margin-top: 31px;
  text-align: center;
}

@media (max-width: 1284px) {
  #banner .main-menu {
    margin-top: 25px;
  }
}

#banner ul {
  float: left;
  list-style: none;
  margin: 0 0 0 394px;
  padding: 0;
  text-align: center;
}

@media (max-width: 1284px) {
  #banner ul {
    margin-left: 307px;
  }
}

#banner li {
  float: left;
  padding: 0;
  margin-right: 11px;
}

#banner li:last-child {
  margin-right: 0;
}

#banner li:last-child a {
  font-weight: bold;
}

#banner li a {
  font-size: 18px;
  line-height: 34px;
  border: 3px solid #fff;
  display: inline-block;
  width: 129px;
  color: #12171a;
}

@media (max-width: 1284px) {
  #banner li a {
    width: 100px;
    font-size: 15px;
    line-height: 26px;
  }
}

#banner li a:hover {
  border: 3px solid #ce0c14;
}

#banner li a.ttu {
  line-height: 31px;
  padding-top: 3px;
}

@media (max-width: 1284px) {
  #banner li a.ttu {
    line-height: 23px;
  }
}

#banner .content-wrapper {
  font-family: 'Phanton', sans-serif;
  padding-top: 33px;
  margin-bottom: 94px;
}

@media (max-width: 1284px) {
  #banner .content-wrapper {
    padding-top: 26px;
    margin-bottom: 85px;
  }
}

#banner .text-block {
  float: left;
  max-width: 370px;
}

@media (max-width: 1284px) {
  #banner .text-block {
    max-width: 288px;
  }
}

#banner .text-block h1 {
  margin: 17px 0 0;
  font-size: 37px;
  font-weight: 700;
}

@media (max-width: 1284px) {
  #banner .text-block h1 {
    font-size: 26px;
    margin-top: 14px;
  }
}

#banner .text-block .stars {
  padding-left: 93px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 1284px) {
  #banner .text-block .stars {
    padding-left: 73px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

#banner .text-block .stars img {
  margin-right: 15px;
}

@media (max-width: 1284px) {
  #banner .text-block .stars img {
    margin-right: 9px;
  }
}

#banner .text-block p {
  margin: 0;
  max-width: 340px;
  font-size: 22px;
}

@media (max-width: 1284px) {
  #banner .text-block p {
    max-width: 260px;
    font-size: 18px;
  }
}

#banner .form {
  float: left;
  width: 352px;
  margin-left: 51px;
  padding: 22px 18px 41px;
  border: 7px solid #f8f8f8;
  text-align: center;
}

@media (max-width: 1284px) {
  #banner .form {
    margin-left: 39px;
    width: 274px;
    padding: 18px 15px 41px;
  }
}

#banner .form p {
  margin: 0 0 9px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1284px) {
  #banner .form p {
    font-size: 18px;
    margin-bottom: 7px;
  }
}

#banner .form input {
  display: block;
  width: 100%;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  line-height: 62px;
  margin-bottom: 17px;
}

@media (max-width: 1284px) {
  #banner .form input {
    line-height: 38px;
    margin-bottom: 13px;
    font-size: 14px;
    padding-top: 3px;
  }
}

#banner .form button {
  width: 223px;
  height: 55px;
}

@media (max-width: 1284px) {
  #banner .form button {
    width: 173px;
    height: 38px;
  }
}

/* AFTER BANNER DIVIDER */

.banner-divider {
  background-color: transparent;
  width: 100%;
  height: 170px;
  background: url("../img/banner-divider.png") no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  margin-top: -170px;
}

@media (max-width: 1600px) {
  .banner-divider {
    height: 150px;
    margin-top: -150px;
  }
}

@media (max-width: 1284px) {
  .banner-divider {
    height: 140px;
    margin-top: -140px;
  }
}

/*PROBLEMS SECTION*/

#problems {
  padding-bottom: 11px;
  background-color: #f8f8f8;
}

#problems h2 {
  font-family: 'Phanton', sans-serif;
}

#problems .content {
  margin-top: 28px;
}

@media (max-width: 1284px) {
  #problems .content {
    margin-top: 20px;
  }
}

#problems .left,
#problems .right,
#problems .main {
  float: left;
}

#problems .main {
  width: 504px;
  height: auto;
}

#problems .left {
  width: 275px;
  margin-top: 115px;
  margin-right: 4px;
}

@media (max-width: 1284px) {
  #problems .left {
    width: 214px;
    margin-top: 85px;
  }
}

#problems .right {
  width: 250px;
  margin-top: 125px;
  margin-left: 50px;
}

@media (max-width: 1284px) {
  #problems .right {
    width: 195px;
    margin-left: 39px;
    margin-top: 100px;
  }
}

#problems .item {
  position: relative;
}

@media (max-width: 1284px) {
  #problems .item .icon {
    height: 22px;
    width: auto;
  }
}

#problems .item p {
  margin-top: 4px;
  margin-bottom: 58px;
  font-size: 21px;
  line-height: 29px;
}

@media (max-width: 1284px) {
  #problems .item p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}

#problems .arrow {
  position: absolute;
}

@media (max-width: 1284px) {
  #problems .arrow {
    width: 100%;
  }
}

#problems .arrow1 {
  bottom: -36px;
}

@media (max-width: 1284px) {
  #problems .arrow1 {
    bottom: -30px;
  }
}

#problems .arrow2 {
  bottom: -15px;
}

@media (max-width: 1284px) {
  #problems .arrow2 {
    bottom: -12px;
  }
}

#problems .arrow3 {
  bottom: -10px;
}

@media (max-width: 1284px) {
  #problems .arrow3 {
    bottom: -8px;
    width: 260px;
  }
}

#problems .arrow4 {
  bottom: -28px;
  left: -50px;
}

@media (max-width: 1284px) {
  #problems .arrow4 {
    bottom: -23px;
    left: -39px;
    width: 210px;
  }
}

#problems .arrow5 {
  bottom: -10px;
  left: -60px;
}

@media (max-width: 1284px) {
  #problems .arrow5 {
    bottom: -8px;
    left: -60px;
    width: 230px;
  }
}

#problems .bottom {
  text-align: center;
}

#problems .bottom-border {
  max-width: 996px;
  margin: 58px auto 6px;
  padding: 8px 0;
  border-top: 3px solid #ce0c14;
  border-bottom: 3px solid #ce0c14;
  text-align: center;
}

#problems .bottom-border p {
  margin: 0;
  font-family: 'Phanton', sans-serif;
  font-size: 30px;
  line-height: 46px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f6d258;
}

/*SOLUTIONS*/

#solutions {
  padding: 85px 0 83px;
  background-color: #99d5e0;
}

#solutions .desc {
  width: 880px;
  margin: 21px auto 40px;
  font-family: 'Phanton', sans-serif;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
}

#solutions .content {
  padding: 0 37.5px;
}

#solutions .item,
#solutions .inner-wrapper,
#solutions .number,
#solutions h3,
#solutions .divider,
#solutions .item-desc,
#solutions .list-title,
#solutions ul,
#solutions .bottom {
  float: left;
}

#solutions .item {
  width: 377px;
  margin: 0 4px;
  border: 2px solid #0a435e;
}

@media (max-width: 1284px) {
  #solutions .item {
    width: 288px;
    margin: 0 3px;
  }
}

#solutions .inner-wrapper {
  padding: 39px 10px 0;
}

#solutions .item1 .inner-wrapper {
  border-top: 10px solid #ce0c14;
}

#solutions .item2 .inner-wrapper {
  border-top: 10px solid #f6d258;
}

#solutions .item3 .inner-wrapper {
  border-top: 10px solid #244e64;
}

#solutions .number {
  width: 62px;
  height: 62px;
  padding-left: 20px;
  background: url("../img/solut_numbg.png");
  color: #ce0c14;
  font-size: 71px;
  line-height: 71px;
  font-weight: 700;
}

@media (max-width: 1284px) {
  #solutions .number {
    width: 48px;
    height: 48px;
    font-size: 55px;
    line-height: 55px;
    padding-left: 16px;
  }
}

#solutions h3 {
  margin: 10px 0 0 10px;
  font-size: 29px;
  width: 271px;
  font-family: 'Phanton', sans-serif;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1284px) {
  #solutions h3 {
    width: 205px;
    margin: 4px 0 0 8px;
    font-size: 23px;
    line-height: 23px;
  }
}

#solutions h3 span {
  color: #ce0c14;
}

#solutions .divider {
  width: 100%;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 4px;
  background-color: #fc0b12;
  opacity: 0.64;
}

#solutions .item-desc {
  margin: 0;
  min-height: 72px;
  font-family: 'Phanton', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1284px) {
  #solutions .item-desc {
    font-size: 15px;
    line-height: 21px;
    min-height: 84px;
  }
}

#solutions .list-title {
  margin-top: 18px;
  margin-bottom: 10px;
  color: #054e71;
  font-size: 19px;
  font-weight: 700;
}

#solutions ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

#solutions li {
  float: left;
  min-height: 35px;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 7px;
}

@media (max-width: 1284px) {
  #solutions li {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 6px;
  }
}

#solutions li:last-child {
  min-height: 51px;
}

#solutions li img {
  float: left;
  margin-right: 6px;
}

#solutions li p {
  float: left;
  width: 325px;
  margin: 0;
  position: relative;
}

@media (max-width: 1284px) {
  #solutions li p {
    width: 239px;
  }
}

#solutions .bottom {
  margin-top: 41px;
}

#solutions .bottom img,
#solutions .bottom p {
  float: left;
}

@media (max-width: 1284px) {
  #solutions .bottom img {
    width: 51px;
    height: auto;
  }
}

#solutions .bottom p {
  width: 994px;
  margin: 13px 8px 0;
  padding: 7px 55px 11px;
  background: #f6d258;
  font-size: 20px;
}

@media (max-width: 1284px) {
  #solutions .bottom p {
    width: 760px;
    font-size: 16px;
    margin-top: 9px;
    padding: 5px 35px 7px;
  }
}

#solutions .bottom p span {
  color: #ce0c14;
  font-weight: bold;
}

/* INTERESS MORE */

#interessmore {
  padding: 96px 0 56px;
  background-color: rgba(204, 204, 204, 0.35);
}

@media (max-width: 1284px) {
  #interessmore {
    padding: 75px 0 40px;
  }
}

#interessmore .content {
  margin-top: 82px;
}

@media (max-width: 1284px) {
  #interessmore .content {
    margin-top: 55px;
  }
}

#interessmore .item {
  float: left;
  width: 20%;
  padding: 0 12px;
  text-align: center;
}

@media (max-width: 1284px) {
  #interessmore .item {
    padding-top: 19px;
  }
}

@media (max-width: 1284px) {
  #interessmore .item img {
    height: 93px;
    width: auto;
  }
}

#interessmore .item2,
#interessmore .item3,
#interessmore .item4 {
  padding-top: 21px;
}

#interessmore .item3 p {
  padding-left: 23px;
  padding-right: 3px;
}

#interessmore .item4 p {
  padding-left: 3px;
}

#interessmore .item5 {
  padding-top: 19px;
}

#interessmore h3 {
  margin-top: 23px;
  margin-bottom: 0;
  padding: 0 10px;
  color: #255e7d;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

@media (max-width: 1284px) {
  #interessmore h3 {
    font-size: 19px;
    line-height: 21px;
  }
}

#interessmore .divider {
  width: 48px;
  height: 2px;
  background-color: #f00;
  margin: 7px auto 10px;
}

#interessmore p {
  text-align: left;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1284px) {
  #interessmore p {
    font-size: 14px;
    line-height: 20px;
  }
}

/* CLIENTS */

#clients {
  padding-top: 56px;
}

@media (max-width: 1284px) {
  #clients {
    padding-top: 40px;
  }
}

#clients .content {
  position: relative;
  margin-top: 120px;
  height: 691px;
  width: 100%;
  padding-top: 270px;
  background: url("../img/clientsbg.png") 50% 50% no-repeat;
}

@media (max-width: 1284px) {
  #clients .content {
    padding-top: 250px;
  }
}

#clients .item {
  position: absolute;
  text-align: center;
}

@media (max-width: 1284px) {
  #clients .item img {
    width: 130px;
    height: auto;
  }
}

#clients .item1 {
  top: -85px;
  left: 508px;
}

@media (max-width: 1284px) {
  #clients .item1 {
    top: -55px;
    left: 408px;
  }
}

#clients .item2 {
  top: 95px;
  left: 206px;
}

@media (max-width: 1284px) {
  #clients .item2 {
    top: 130px;
    left: 96px;
  }
}

#clients .item3 {
  top: 95px;
  left: 867px;
}

@media (max-width: 1284px) {
  #clients .item3 {
    top: 130px;
    left: 697px;
  }
}

#clients .item4 {
  top: 446px;
  left: 293px;
}

@media (max-width: 1284px) {
  #clients .item4 {
    top: 446px;
    left: 143px;
  }
}

#clients .item5 {
  top: 446px;
  left: 775px;
}

@media (max-width: 1284px) {
  #clients .item5 {
    top: 446px;
    left: 675px;
  }
}

#clients h3 {
  margin: 1px 0 19px;
  width: 180px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

@media (max-width: 1284px) {
  #clients h3 {
    margin-bottom: 12px;
  }
}

#clients .more {
  width: 149px;
  height: 41px;
  display: block;
  margin: 0 auto;
  background-color: #ce0c14;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 41px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 1284px) {
  #clients .more {
    width: 110px;
    height: 35px;
    line-height: 35px;
  }
}

#clients .more:hover {
  background-color: #740b0f;
}

#clients .list {
  margin: 0 auto;
  max-width: 417px;
}

@media (max-width: 1284px) {
  #clients .list {
    max-width: 380px;
  }
}

#clients .list-title {
  padding: 6px 6px 2px;
  text-align: center;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
  background-color: #f6d258;
}

@media (max-width: 1284px) {
  #clients .list-title {
    font-size: 17px;
    line-height: 17px;
  }
}

#clients ul {
  list-style-image: url("../img/client-list.png");
}

#clients li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.client-divider {
  height: 184px;
  width: 100%;
  background: url("../img/client-divider.png") 50% 50% no-repeat;
  background-size: cover;
}

#technics {
  padding-bottom: 80px;
  background-color: #f6d258;
  /*Content TOP*/
  /*Content MIDDLE*/
  /*Content BOTTOM*/
}

#technics h2 {
  max-width: 740px;
  margin: 0 auto;
}

#technics .content-top {
  margin-top: 33px;
  padding: 0 46px;
}

@media (max-width: 1284px) {
  #technics .content-top {
    padding: 0 30px;
  }
}

#technics .content-top p {
  margin: 0;
}

#technics .left,
#technics .mid,
#technics .right {
  float: left;
}

#technics .left,
#technics .right {
  border-top: 3px solid #292929;
}

#technics .left {
  max-width: 463px;
  padding: 12px 30px 0 0;
  font-size: 22px;
}

@media (max-width: 1284px) {
  #technics .left {
    max-width: 355px;
    font-size: 18px;
    padding-right: 15px;
  }
}

#technics .mid {
  margin: 0 33px 0 43px;
}

@media (max-width: 1284px) {
  #technics .mid {
    margin: 0 26px 0 33px;
  }
}

#technics .dots {
  width: 100%;
  text-align: center;
}

#technics .dots img {
  display: inline-block;
  margin-top: 24px;
  position: relative;
}

@media (max-width: 1284px) {
  #technics .dots img {
    width: 16px;
    height: auto;
    margin-top: 24px;
  }
}

#technics .dots img:nth-child(1),
#technics .dots img:nth-child(5) {
  top: -23px;
}

#technics .dots img:nth-child(2),
#technics .dots img:nth-child(4) {
  top: -8px;
}

#technics .dots img:nth-child(3) {
  margin: 0 5px;
}

#technics .right {
  max-width: 465px;
  padding: 10px 8px 3px;
  font-size: 17px;
}

@media (max-width: 1284px) {
  #technics .right {
    max-width: 355px;
    font-size: 15px;
  }
}

#technics .right span {
  background-color: #9cbec6;
}

#technics .content-mid {
  width: 100%;
  margin-top: 57px;
  margin-bottom: 23px;
  padding: 22px 101px 14px;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  border: 3px solid #f00;
}

@media (max-width: 1284px) {
  #technics .content-mid {
    font-size: 20px;
    line-height: 26px;
    padding: 18px 70px 14px;
  }
}

#technics .content-mid p {
  margin: 0;
}

#technics .content-bottom {
  padding: 0 15px;
}

#technics .content-bottom .item {
  float: left;
  width: 20%;
  padding: 0 15px;
  text-align: center;
}

@media (max-width: 1284px) {
  #technics .content-bottom .item img {
    width: 128px;
    height: auto;
  }
}

#technics .content-bottom .item p {
  text-align: left;
  font-size: 19px;
  margin: 24px auto 0;
}

@media (max-width: 1284px) {
  #technics .content-bottom .item p {
    font-size: 15px;
    margin-top: 18px;
  }
}

#technics .content-bottom .item:nth-child(2) {
  padding: 0;
}

#technics .content-bottom .item:nth-child(3) {
  padding: 0 0 0 10px;
}

#technics .content-bottom .item:nth-child(5) p {
  width: 175px;
}

/* CRISIS */

#crisis {
  padding: 42px 0 12px;
  background-color: rgba(204, 204, 204, 0.35);
}

#crisis h2 {
  max-width: 720px;
  margin: 0 auto 16px;
}

#crisis .content {
  padding-right: 46px;
  padding-left: 54px;
}

@media (max-width: 1284px) {
  #crisis .content {
    padding: 0 30px;
  }
}

#crisis img,
#crisis .text {
  float: left;
}

#crisis img {
  height: auto;
  width: 435px;
}

#crisis .text {
  max-width: 530px;
  margin-left: 42px;
}

@media (max-width: 1284px) {
  #crisis .text {
    max-width: 413px;
    margin-left: 30px;
  }
}

#crisis .text .main {
  margin-top: 56px;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 20px;
}

@media (max-width: 1284px) {
  #crisis .text .main {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}

#crisis .text .bottom {
  border-top: 2px solid #f00;
  padding-top: 17px;
  margin: 0;
  color: #005e7f;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

@media (max-width: 1284px) {
  #crisis .text .bottom {
    font-size: 18px;
    line-height: 25px;
  }
}

/* UTP */

#utp {
  padding: 69px 0 57px;
}

#utp .desc {
  max-width: 970px;
  margin: 4px auto 7px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

#utp .content {
  padding-left: 25px;
}

#utp .text,
#utp h3,
#utp .text-desc,
#utp img {
  float: left;
}

#utp .text {
  max-width: 725px;
  margin-right: 35px;
}

@media (max-width: 1284px) {
  #utp .text {
    max-width: 568px;
    margin-right: 25px;
  }
}

@media (max-width: 1284px) {
  #utp img {
    width: 341px;
    height: auto;
  }
}

#utp .title {
  color: #5688a3;
  margin-top: 40px;
  margin-bottom: 4px;
}

#utp h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 46px;
  font-size: 160px;
  line-height: 140px;
}

@media (max-width: 1284px) {
  #utp h3 {
    font-size: 120px;
    line-height: 100px;
    margin-right: 35px;
  }
}

#utp .text-desc {
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
}

@media (max-width: 1284px) {
  #utp .text-desc {
    max-width: 273px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 25px;
  }
}

#utp .divider {
  width: 454px;
  height: 2px;
  margin: 0 auto;
  background-color: #f00;
}

#utp p.main {
  margin: 17px 0 19px;
  font-size: 20px;
  line-height: 35px;
}

@media (max-width: 1284px) {
  #utp p.main {
    font-size: 16px;
    line-height: 25px;
  }
}

#utp p.bottom {
  margin-top: 49px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1284px) {
  #utp p.bottom {
    font-size: 24px;
    line-height: 24px;
  }
}

/* AUDIT */

#audit {
  background-color: #005e7f;
  color: #fff;
}

#audit .container {
  padding: 62px 0 120px;
  background: url("../img/audit.png") no-repeat;
  background-position: 100px 50px;
}

@media (max-width: 1284px) {
  #audit .container {
    background-size: 330px auto;
    background-position: 100px 60px;
    padding: 42px 0 100px;
  }
}

#audit .content {
  float: right;
  width: 800px;
  padding-right: 30px;
}

@media (max-width: 1284px) {
  #audit .content {
    width: 624px;
  }
}

#audit h2 {
  color: #fff;
  max-width: 725px;
  line-height: 30px;
}

@media (max-width: 1284px) {
  #audit h2 {
    font-size: 24px;
  }
}

#audit .desc {
  margin: 0;
  max-width: 705px;
  font-size: 21px;
  line-height: 30px;
  color: #f6d258;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 1284px) {
  #audit .desc {
    font-size: 18px;
    line-height: 26px;
  }
}

#audit .main {
  margin-top: 17px;
  margin-bottom: 54px;
  font-size: 20px;
  line-height: 30px;
  padding-right: 20px;
  text-align: justify;
}

@media (max-width: 1284px) {
  #audit .main {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 44px;
  }
}

#audit button {
  width: 346px;
  height: 55px;
  margin-left: 31px;
}

@media (max-width: 1284px) {
  #audit button {
    width: 276px;
    height: 45px;
  }
}

.audit-divider {
  background-color: transparent;
  width: 100%;
  height: 170px;
  background: url("../img/audit-divider.png") no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  margin-top: -170px;
}

@media (max-width: 1284px) {
  .audit-divider {
    height: 140px;
    margin-top: -140px;
  }
}

/*MARKETING*/

#marketing {
  background-color: #E8E8E8;
  padding-bottom: 44px;
}

#marketing .content {
  padding: 0 30px;
}

#marketing .left,
#marketing .right,
#marketing .img,
#marketing .text {
  float: left;
}

#marketing .left {
  max-width: 440px;
  margin-right: 75px;
}

@media (max-width: 1284px) {
  #marketing .left {
    max-width: 343px;
    margin-right: 55px;
  }
}

#marketing .left h2 {
  text-align: left;
  margin-top: 165px;
  line-height: 43px;
}

@media (max-width: 1284px) {
  #marketing .left h2 {
    font-size: 24px;
    line-height: 35px;
    margin-top: 128px;
  }
}

#marketing .left .desc {
  margin: 25px 0;
  font-size: 19px;
  line-height: 28px;
}

@media (max-width: 1284px) {
  #marketing .left .desc {
    font-size: 16px;
    line-height: 22px;
    margin: 18px 0;
  }
}

#marketing .right {
  max-width: 645px;
}

@media (max-width: 1284px) {
  #marketing .right {
    max-width: 503px;
  }
}

#marketing .right .item {
  margin-bottom: 40px;
}

#marketing .right .item:last-child {
  margin-bottom: 0;
}

#marketing .right .img {
  text-align: center;
  width: 143px;
  margin-right: 30px;
}

@media (max-width: 1284px) {
  #marketing .right .img {
    width: 112px;
    margin-right: 20px;
  }
}

@media (max-width: 1284px) {
  #marketing .right .img img {
    height: 120px;
    width: auto;
  }
}

#marketing .right .text {
  max-width: 470px;
}

@media (max-width: 1284px) {
  #marketing .right .text {
    max-width: 366px;
  }
}

#marketing .right .text h3 {
  max-width: 453px;
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

@media (max-width: 1284px) {
  #marketing .right .text h3 {
    font-size: 16px;
    line-height: 21px;
  }
}

#marketing .right .text p {
  margin: 0;
  font-size: 17px;
  font-style: italic;
  line-height: 25px;
}

@media (max-width: 1284px) {
  #marketing .right .text p {
    font-size: 14px;
    line-height: 20px;
  }
}

/*RESULTS*/

#results {
  padding: 90px 0 56px;
  text-align: center;
}

@media (max-width: 1284px) {
  #results {
    padding: 70px 0 46px;
  }
}

#results h2 {
  font-size: 27px;
}

#results .content {
  margin-top: 33px;
}

#results .left,
#results .right {
  float: left;
}

#results p {
  margin: 0;
  font-size: 19px;
  line-height: 32px;
  text-align: left;
}

@media (max-width: 1284px) {
  #results p {
    font-size: 16px;
    line-height: 26px;
  }
}

#results .left {
  position: relative;
  width: 475px;
  margin-right: 11px;
  padding: 11px 4px 30px;
  border-bottom: 2px solid #12171a;
}

@media (max-width: 1284px) {
  #results .left {
    width: 370px;
  }
}

#results .left .main-img {
  margin-bottom: 18px;
}

@media (max-width: 1284px) {
  #results .left .main-img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
}

#results .left .dot {
  position: absolute;
  width: 51px;
  background-color: #fff;
  left: 212px;
  bottom: -22px;
}

@media (max-width: 1284px) {
  #results .left .dot {
    left: 164px;
  }
}

#results .right {
  width: 681px;
  padding: 51px 44px 39px 36px;
  background-color: #f6d258;
  border-left: 5px solid #12171a;
}

@media (max-width: 1284px) {
  #results .right {
    width: 525px;
    padding: 40px 25px;
  }
}

#results .right .quote {
  margin-top: 48px;
  font-size: 28px;
  font-style: italic;
}

@media (max-width: 1284px) {
  #results .right .quote {
    font-size: 22px;
  }
}

#results .bottom {
  margin-top: 46px;
  margin-bottom: 33px;
  font-family: 'Phanton', sans-serif;
  font-weight: 700;
  font-size: 29px;
}

@media (max-width: 1284px) {
  #results .bottom {
    font-size: 22px;
  }
}

#results .bottom span {
  text-transform: uppercase;
  color: #005e7f;
}

#results button {
  width: 346px;
  height: 55px;
}

/*HOWWORK*/

#howwork {
  padding-top: 60px;
  background-color: #b5e5f5;
  text-align: center;
}

@media (max-width: 1284px) {
  #howwork {
    padding-top: 40px;
  }
}

@media (max-width: 1284px) {
  #howwork h2 {
    font-size: 25px;
  }
}

#howwork .content {
  width: 1139px;
  margin: 47px auto 0;
  background: url("../img/howworkbg.png") 50% 35px no-repeat;
  background-size: 100% auto;
}

@media (max-width: 1284px) {
  #howwork .content {
    width: 888px;
    background-size: 100% 204px;
  }
}

#howwork .desc {
  margin: 7px 0 0;
}

#howwork h3 {
  margin: 46px 0 8px;
  font-size: 33px;
  font-weight: 600;
  line-height: 33px;
}

@media (max-width: 1284px) {
  #howwork h3 {
    font-size: 27px;
    line-height: 27px;
    margin: 45px 0 6px;
  }
}

#howwork .divider {
  width: 270px;
  height: 3px;
  margin: 0 auto;
  background-color: #0290d5;
}

@media (max-width: 1284px) {
  #howwork .divider {
    width: 240px;
  }
}

#howwork .item {
  text-align: center;
  float: left;
  margin-bottom: 62px;
}

#howwork .item p {
  margin: 6px 0 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  font-style: italic;
  text-align: left;
}

#howwork .item1 {
  text-align: left;
  margin-left: 44px;
  width: 223px;
}

#howwork .item1 img {
  margin-left: 44px;
}

#howwork .item2 {
  width: 250px;
  margin-left: 40px;
}

#howwork .item3 {
  width: 290px;
  margin-left: 28px;
}

#howwork .item4 {
  width: 162px;
  margin-left: 77px;
}

@media (max-width: 1284px) {
  #howwork .item4 {
    margin-left: 17px;
    margin-bottom: 11px;
  }
}

#howwork .item5 {
  width: 198px;
  margin-left: 311px;
  margin-bottom: 11px;
}

@media (max-width: 1284px) {
  #howwork .item5 {
    margin-left: 30px;
  }
}

#howwork .item6 {
  width: 232px;
  margin-left: 94px;
  margin-bottom: 11px;
}

@media (max-width: 1284px) {
  #howwork .item6 {
    margin-left: 30px;
  }
}

#howwork .item6 p {
  margin-top: 6px;
  font-size: 20px;
  line-height: 25px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #2c85b8;
}

.howwork-divider {
  height: 140px;
  width: 100%;
  background: #b5e5f5 url("../img/howwork-divider.png") 50% 50% no-repeat;
  background-size: cover;
}

/* LIVE */

#live {
  padding-bottom: 56px;
  text-align: center;
}

#live .content,
#live .bottom {
  position: relative;
}

#live img {
  position: absolute;
}

#live .content {
  max-width: 1039px;
  margin-top: 14px;
  margin-bottom: 50px;
  padding: 48px 348px 30px 58px;
  background-color: #ecd765;
  text-align: left;
}

@media (max-width: 1284px) {
  #live .content {
    max-width: 900px;
    padding-right: 400px;
  }
}

#live .content img {
  bottom: -29px;
  right: -62px;
}

@media (max-width: 1284px) {
  #live .content img {
    width: 450px;
  }
}

#live p {
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 6px;
}

@media (max-width: 1284px) {
  #live p {
    font-size: 15px;
    line-height: 20px;
  }
}

#live p span {
  font-weight: 600;
}

#live .bottom {
  width: 817px;
  margin: 0 auto 28px;
  padding: 17px 0 15px;
  border: 2px solid #f00;
}

#live .bottom p {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

#live .bottom img {
  bottom: -78px;
  right: -60px;
}

#live button {
  width: 346px;
  height: 55px;
}

/* FOOTER */

#footer {
  padding: 72px 0 85px;
  background-color: #005e7f;
  color: #fff;
  /*Content TOP*/
  /*Content BOTTOM*/
}

@media (max-width: 1284px) {
  #footer {
    padding: 60px 0;
  }
}

#footer a {
  color: #fff;
}

#footer h3 {
  margin: 22px 0 27px;
  font-size: 25px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
}

@media (max-width: 1284px) {
  #footer h3 {
    font-size: 20px;
    line-height: 20px;
  }
}

#footer .col {
  float: left;
  width: 32%;
  margin-right: 1%;
}

#footer .col2 {
  padding: 0px 0 9px 58px;
}

@media (max-width: 1284px) {
  #footer .col2 {
    padding-left: 25px;
  }
}

#footer .col3 {
  padding-left: 50px;
  margin-right: 0;
}

@media (max-width: 1284px) {
  #footer .col3 {
    padding-left: 25px;
  }
}

#footer .content-top {
  padding-bottom: 36px;
}

#footer .content-top .col1 a {
  float: left;
}

@media (max-width: 1284px) {
  #footer .content-top .col1 img {
    width: 100%;
  }
}

#footer .content-top .col1 p {
  float: left;
  margin: 16px 0;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

#footer .content-top .col2 {
  border-left: 2px solid #fff;
}

#footer .content-top .col2 input {
  width: 100%;
  height: 46px;
  margin-bottom: 18px;
  padding-left: 15px;
  background-color: transparent;
  border: 3px solid #fff;
}

#footer .content-top .col2 input::-webkit-input-placeholder {
  color: #fff;
}

#footer .content-top .col2 input:-moz-placeholder {
  color: #fff;
}

#footer .content-top .col2 input::-moz-placeholder {
  color: #fff;
}

#footer .content-top .col2 input:-ms-input-placeholder {
  color: #fff;
}

#footer .content-top .col2 button {
  width: 100%;
  height: 55px;
  background-color: #f6d258;
  border: none;
  color: #12171a;
  font-weight: 700;
}

#footer .content-top .col2 button:hover {
  background-color: #dcad0c;
}

#footer .content-top .col3 h3 {
  padding-left: 11px;
}

#footer .content-top .col3 .icon-box,
#footer .content-top .col3 .ph-icon,
#footer .content-top .col3 .foot-contact-item,
#footer .content-top .col3 .contact-info,
#footer .content-top .col3 p {
  float: left;
}

#footer .content-top .col3 .icon-box {
  margin-right: 20px;
  width: 36px;
  text-align: center;
}

@media (max-width: 1284px) {
  #footer .content-top .col3 .icon-box {
    margin-right: 5px;
    width: 26px;
  }
}

#footer .content-top .col3 .ph-icon {
  font-size: 30px;
  width: 36px;
}

@media (max-width: 1284px) {
  #footer .content-top .col3 .ph-icon {
    width: 26px;
    font-size: 22px;
  }
}

#footer .content-top .col3 .foot-contact-item {
  width: 100%;
  margin-bottom: 28px;
}

#footer .content-top .col3 .foot-contact-item.fc-phone p {
  padding-top: 3px;
}

#footer .content-top .col3 p {
  margin: 0;
  padding-top: 6px;
  line-height: 27px;
  font-size: 19px;
  font-weight: 700;
}

@media (max-width: 1284px) {
  #footer .content-top .col3 p {
    font-size: 16px;
    line-height: 22px;
  }
}

#footer .content-top .col3 p span {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1284px) {
  #footer .content-top .col3 p span {
    font-size: 14px;
  }
}

#footer .divider {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

#footer .content-bottom {
  padding-top: 64px;
}

@media (max-width: 1284px) {
  #footer .content-bottom {
    padding-top: 45px;
  }
}

#footer .content-bottom ul {
  padding-left: 20px;
  list-style-image: url("../img/footer-list.png");
}

#footer .content-bottom ul li {
  margin-bottom: 15px;
}

#footer .content-bottom ul li:last-child {
  margin-bottom: 0;
}

#footer .content-bottom ul li a {
  border-bottom: 1px solid #fff;
  font-size: 17px;
  font-weight: 700;
}

@media (max-width: 1284px) {
  #footer .content-bottom ul li a {
    font-size: 15px;
  }
}

#footer .content-bottom .col1 {
  padding-left: 7px;
  padding-top: 32px;
}

@media (max-width: 1284px) {
  #footer .content-bottom .col1 {
    padding-top: 40px;
  }
}

#footer .content-bottom .col1 a {
  margin-right: 16px;
}

#footer .content-bottom .col1 p {
  margin-top: 36px;
  font-size: 17px;
  font-style: italic;
}

@media (max-width: 1284px) {
  #footer .content-bottom .col1 p {
    margin-top: 26px;
    font-size: 13px;
  }
}