/* VAR*/

/*black*/

/*red*/

/*yellow*/

/*MIXINS*/

/* FONTS */

@font-face {
  font-family: 'PhantonIconsA';
  src: url("../fonts/Panton/PantonIconsAFill-Regular.otf");
}

@font-face {
  font-family: 'PhantonIconsB';
  src: url("../fonts/Panton/PantonIconsBFill-Regular.otf");
}

@font-face {
  font-family: 'PhantonIconsC';
  src: url("../fonts/Panton/PantonIconsCFill-Regular.otf");
}

@font-face {
  font-family: 'PhantonIconsD';
  src: url("../fonts/Panton/PantonIconsDFill-Regular.otf");
}

@font-face {
  font-family: 'Phanton';
  src: url("../fonts/Panton/Panton-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phanton';
  src: url("../fonts/Panton/Panton-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src: url("../fonts/MyriadPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src: url("../fonts/MyriadPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src: url("../fonts/MyriadPro-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/*
font-family: 'Open Sans', sans-serif;

*/

/* COMMON */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #12171a;
  font-family: 'Myriad';
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #244e64;
  margin: 0;
}

.container {
  width: 1270px;
  margin: 0 auto;
  padding: 0 20px;
}

.container:after,
.content-wrapper:after,
.clearfix:after,
.container:before,
.content-wrapper:before,
.clearfix:before {
  content: "";
  display: table;
  table-layout: fixed;
}

.container:after,
.content-wrapper:after,
.clearfix:after {
  clear: both;
}

.ph-icon {
  color: #ce0c14;
  font-weight: 400;
  font-style: normal;
}

.ph-icon-a {
  font-family: 'PhantonIconsA';
}

.ph-icon-b {
  font-family: 'PhantonIconsB';
}

.ph-icon-c {
  font-family: 'PhantonIconsC';
}

.ph-icon-d {
  font-family: 'PhantonIconsD';
}

.fl-right {
  float: right;
}

.ttu {
  text-transform: uppercase;
}

span.test {
  font-family: 'Myriad', sans-serif;
}

/* HEADER */

#header {
  padding: 18px 0;
  width: 100%;
}

#header a.logo {
  float: left;
}

#header .header_contact {
  float: left;
  padding-top: 27px;
  padding-bottom: 22px;
  margin-left: 120px;
}

#header .header_contact-item {
  float: left;
}

#header .header_contact-item:nth-child(2) {
  margin: 0 92px 0 67px;
}

#header .ph-icon {
  float: left;
  font-size: 30px;
  margin-right: 24px;
}

#header .icon-rotate {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

#header .contact-info {
  float: left;
}

#header .info-main {
  display: block;
  margin: 0;
  color: #0a5072;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

#header .info-secondary {
  display: block;
  margin: 0;
  color: #112526;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

#header .contact-info sup {
  text-decoration: underline;
}

#banner {
  background-color: #f6d258;
  width: 100%;
}

#banner .container {
  background: url("../img/banner-men.png") no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#banner .main-menu {
  width: 100%;
  margin-top: 31px;
  text-align: center;
}

#banner ul {
  float: left;
  list-style: none;
  margin: 0 0 0 394px;
  padding: 0;
  text-align: center;
}

#banner li {
  float: left;
  padding: 0;
  margin-right: 11px;
}

#banner li:last-child {
  margin-right: 0;
}

#banner li:last-child a {
  font-weight: bold;
}

#banner li a {
  font-size: 18px;
  line-height: 34px;
  border: 3px solid #fff;
  display: inline-block;
  width: 129px;
  color: #12171a;
}

#banner li a:hover {
  border: 3px solid #ce0c14;
}

#banner li a.ttu {
  line-height: 31px;
  padding-top: 3px;
}

#banner .content-wrapper {
  font-family: 'Phanton', sans-serif;
  padding-top: 33px;
  margin-bottom: 94px;
}

#banner .text-block {
  float: left;
  max-width: 370px;
}

#banner .text-block h1 {
  margin: 17px 0 0;
  font-size: 37px;
  font-weight: 700;
}

#banner .text-block .stars {
  padding-left: 93px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#banner .text-block .stars img {
  margin-right: 15px;
}

#banner .text-block p {
  margin: 0;
  max-width: 340px;
  font-size: 22px;
}

#banner .form {
  float: left;
  width: 352px;
  margin-left: 51px;
  padding: 22px 18px 41px;
  border: 7px solid #f8f8f8;
  text-align: center;
}

#banner .form p {
  margin: 0 0 9px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

#banner .form input {
  display: block;
  width: 100%;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  line-height: 62px;
  margin-bottom: 17px;
}

#banner .form button {
  width: 223px;
  height: 55px;
  background-color: #ce0c14;
  text-align: center;
  border: none;
  border-radius: 5px;
  border-top: 2px solid #740b0f;
  border-bottom: 2px solid #740b0f;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

#banner .form button:hover {
  background-color: #740b0f;
}

/* AFTER BANNER DIVIDER */

.banner-divider {
  background-color: transparent;
  width: 100%;
  height: 170px;
  background: url("../img/banner-divider.png") no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  margin-top: -170px;
}

@media (max-width: 1600px) {
  .banner-divider {
    height: 150px;
    margin-top: -150px;
  }
}

/*PROBLEMS SECTION*/

#problems {
  padding-bottom: 11px;
  background-color: #f8f8f8;
}

#problems h2 {
  font-family: 'Phanton', sans-serif;
}

#problems .content {
  margin-top: 28px;
}

#problems .left,
#problems .right,
#problems .main {
  float: left;
}

#problems .left {
  width: 280px;
  margin-top: 115px;
  margin-right: 4px;
}

#problems .right {
  width: 250px;
  margin-top: 125px;
  margin-left: 50px;
}

#problems .item {
  position: relative;
}

#problems .item p {
  margin-top: 4px;
  margin-bottom: 58px;
  font-size: 23px;
  line-height: 29px;
}

#problems .arrow {
  position: absolute;
}

#problems .arrow1 {
  bottom: -36px;
}

#problems .arrow2 {
  bottom: -15px;
}

#problems .arrow3 {
  bottom: -10px;
}

#problems .arrow4 {
  bottom: -28px;
  left: -50px;
}

#problems .arrow5 {
  bottom: -10px;
  left: -60px;
}

#problems .bottom {
  text-align: center;
}

#problems .bottom-border {
  max-width: 996px;
  margin: 58px auto 6px;
  padding: 8px 0;
  border-top: 3px solid #ce0c14;
  border-bottom: 3px solid #ce0c14;
  text-align: center;
}

#problems .bottom-border p {
  margin: 0;
  font-family: 'Phanton', sans-serif;
  font-size: 30px;
  line-height: 46px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f6d258;
}

/*SOLUTIONS*/

#solutions {
  padding: 85px 0 83px;
  background-color: #99d5e0;
}

#solutions .desc {
  width: 880px;
  margin: 21px auto 40px;
  font-family: 'Raleway', sans-serif;
  color: #112526;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
}

#solutions .content {
  padding: 0 37.5px;
}

#solutions .item,
#solutions .inner-wrapper,
#solutions .number,
#solutions h3,
#solutions .divider,
#solutions .item-desc,
#solutions .list-title,
#solutions ul,
#solutions .bottom {
  float: left;
}

#solutions .item {
  width: 377px;
  margin: 0 4px;
  border: 2px solid #0a435e;
}

#solutions .inner-wrapper {
  padding: 39px 10px 0;
}

#solutions .item1 .inner-wrapper {
  border-top: 10px solid #ce0c14;
}

#solutions .item2 .inner-wrapper {
  border-top: 10px solid #f6d258;
}

#solutions .item3 .inner-wrapper {
  border-top: 10px solid #244e64;
}

#solutions .number {
  width: 62px;
  height: 62px;
  padding-left: 20px;
  background: url("../img/solut_numbg.png");
  color: #ce0c14;
  font-size: 71px;
  line-height: 71px;
  font-weight: 700;
}

#solutions h3 {
  margin: 10px 0 0 10px;
  font-size: 29px;
  width: 271px;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #343131;
}

#solutions h3 span {
  color: #ce0c14;
}

#solutions .divider {
  width: 100%;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 4px;
  background-color: #fc0b12;
  opacity: 0.64;
}

#solutions .item-desc {
  margin: 0;
  min-height: 72px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: #1a1818;
}

#solutions .list-title {
  margin-top: 18px;
  margin-bottom: 10px;
  color: #054e71;
  font-size: 19px;
  font-weight: 700;
}

#solutions ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

#solutions li {
  float: left;
  min-height: 35px;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 7px;
}

#solutions li:last-child {
  min-height: 51px;
}

#solutions li img {
  float: left;
  margin-right: 6px;
}

#solutions li p {
  float: left;
  width: 325px;
  margin: 0;
  position: relative;
}

#solutions .bottom {
  margin-top: 41px;
}

#solutions .bottom img,
#solutions .bottom p {
  float: left;
}

#solutions .bottom p {
  width: 994px;
  margin: 13px 8px 0;
  padding: 7px 55px 11px;
  background: #f6d258;
  font-size: 20px;
}

#solutions .bottom p span {
  color: #ce0c14;
  font-weight: bold;
}

/* INTERESS MORE */

#interessmore {
  padding: 96px 0 56px;
  background-color: rgba(204, 204, 204, 0.35);
}

#interessmore .content {
  margin-top: 82px;
}

#interessmore .item {
  float: left;
  width: 20%;
  padding: 0 12px;
  text-align: center;
}

#interessmore .item2,
#interessmore .item3,
#interessmore .item4 {
  padding-top: 21px;
}

#interessmore .item3 p {
  padding-left: 23px;
  padding-right: 3px;
}

#interessmore .item4 p {
  padding-left: 3px;
}

#interessmore .item5 {
  padding-top: 19px;
}

#interessmore h3 {
  margin-top: 23px;
  margin-bottom: 0;
  padding: 0 10px;
  color: #255e7d;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

#interessmore .divider {
  width: 48px;
  height: 2px;
  background-color: #f00;
  margin: 7px auto 10px;
}

#interessmore p {
  text-align: left;
  margin: 0;
  font-size: 17px;
  line-height: 24px;
}

/* CLIENTS */

#clients {
  padding-top: 56px;
}

#clients .content {
  position: relative;
  margin-top: 120px;
  height: 691px;
  width: 100%;
  padding-top: 270px;
  background: url("../img/clientsbg.png") 50% 50% no-repeat;
}

#clients .item {
  position: absolute;
  text-align: center;
}

#clients .item1 {
  top: -85px;
  left: 508px;
}

#clients .item2 {
  top: 95px;
  left: 206px;
}

#clients .item3 {
  top: 95px;
  left: 867px;
}

#clients .item4 {
  top: 446px;
  left: 293px;
}

#clients .item5 {
  top: 446px;
  left: 775px;
}

#clients h3 {
  margin: 1px 0 19px;
  width: 180px;
  color: #0d0e0e;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
}

#clients .more {
  width: 149px;
  height: 41px;
  display: block;
  margin: 0 auto;
  background-color: #ce0c14;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 41px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

#clients .more:hover {
  background-color: #740b0f;
}

#clients .list {
  margin: 0 auto;
  max-width: 417px;
}

#clients .list-title {
  padding: 6px 6px 2px;
  text-align: center;
  font-size: 20px;
  line-height: 19px;
  font-weight: 600;
  background-color: #f6d258;
}

#clients ul {
  list-style-image: url("../img/client-list.png");
}

#clients li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.client-divider {
  height: 184px;
  width: 100%;
  background: url("../img/client-divider.png") 50% 50% no-repeat;
  background-size: cover;
}

#technics {
  padding-bottom: 80px;
  background-color: #f6d258;
}

#technics h2 {
  max-width: 740px;
  margin: 0 auto;
}